/*slide - pictures, slide-wrapper - locations*/
/* header z-index 10*/


@font-face {
    font-family: 'Plumb';
    src: local('Plumb'),
    url(../font/ofont.ru_Plumb.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: local('../font/Roboto-Regular'), local('../font/Roboto-Regular'), url('../font/Roboto-Regular.woff') format('woff'), url('../font/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('../font/Roboto-Medium'), local('../font/Roboto-Medium'), url('../font/Roboto-Medium.woff') format('woff'), url('../font/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto';
    src: local('../font/Roboto-Bold'), local('../font/Roboto-Bold'), url('../font/Roboto-Bold.woff') format('woff'), url('../font/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('../font/Roboto-Italic'), local('../font/Roboto-Italic'), url('../font/Roboto-Italic.woff') format('woff'), url('../font/Roboto-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: local('../font/GothamPro-Black'), local('../font/GothamPro-Black'), url('../font/GothamPro-Black.woff') format('woff'), url('../font/GothamPro-Black.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: local('../font/GothamPro-Medium'), local('../font/GothamPro-Medium'), url('../font/GothamPro-Medium.woff') format('woff'), url('../font/GothamPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

html{
    overflow-x: hidden;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.request {
    display: none;
    transition: 1s;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    z-index: 20;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

.request-content {
    margin-left: calc(50vw - 185px);
    margin-top: calc(50vh - 225px);
    padding: 30px 25px 40px;
    animation-name: animate;
    animation-duration: 0.5s;
    background-color: #fff;
    border-radius: 10px;
    width: 320px;
    height: 390px;
    display: flex;
    flex-direction: column;
    position: relative;
}

@keyframes animate {
    from {
        top: -320px;
        opacity:0
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.request-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.request__title {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #de2925;
    text-transform: uppercase;
    margin: 0;
}

.request__text {
    text-align: center;
    max-width: 230px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #1c1c1c;
}

.request__close {
    object-fit: contain;
    position: absolute;
    right: 30px;
    top: 30px;
}

.request__close:hover {
    cursor: pointer;
}

.request-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.request-form {
    text-transform: uppercase;
    width: 280px;
    height: 40px;
    margin-bottom: 15px;
    padding-left: 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;
}

.request-button {
    padding: 20px 70px;
    width: 310px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    text-align: center;
    align-items: center;
}

.slide {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-wrapper {
    max-width: 1170px;
    padding: 0 20px;
    width: calc(100% - 40px);
    margin-bottom: 100px;
}

.slide__button {
    position: relative;
    background: rgb(179,18,23);
    background: linear-gradient(90deg, rgba(179,18,23,1) 0%, rgba(229,45,39,1) 100%);
    border-radius: 60px;
    border: none;
    transition: 3s;
}

.slide__button_shadow {
    box-shadow: 0 26px 24px -6px rgba(230,141,139,1);
}

.slide__button:hover {
    cursor: pointer;
    background: rgb(152,14,19);
    background: linear-gradient(90deg, rgba(152,14,19,1) 0%, rgba(179,18,23,1) 100%);
    transition: 3s;
}

.slide__button:active {
    cursor: pointer;
    background: rgb(111,10,14);
    background: linear-gradient(90deg, rgba(111,10,14,1) 0%, rgba(152,14,19,1) 100%);
    transition: 3s;
}

.slide__button:focus {
    outline: none;
}

.slide__button_size {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.slide__button_text {
    font-family: 'Plumb', sans-serif;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.slide__button-svg{

}

.slide-image {
    object-fit: contain;
}

.slide-lettering {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-size: 120px;
    text-align: center;
    color: #636363;
    text-transform: uppercase;
    opacity: 0.1;
    margin-bottom: 40px;
    margin-top: 0;
}

.slide-text {
    max-width: 570px;
}

.slide-text_width {
    max-width: 440px;
}

.slide-text_view {
    max-width: 700px;
    z-index: 9;
}

.slide__span {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #1c1c1c;
    text-transform: uppercase;
    font-size: 10px;
}

.slide__header {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #1c1c1c;
    position: relative;
    margin-top: 30px;
}

.slide__header_margin {
    margin-top: 70px;
}

.slide__header_center {
    text-align: center;
}

.slide__header_center:before {
    content: "";
    position: absolute;
    display: block;
    width: 50%;
    height: 3px;
    background-color: #de2925;
    bottom: -20px;
    left: 25%;
}

.slide__header-line:before {
    content: "";
    position: absolute;
    display: block;
    width: 35%;
    height: 3px;
    background-color: #de2925;
    bottom: -20px;
}

.slide-main {
    display: flex;
    justify-content: space-between;
}

.slide__description {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #1c1c1c;
}

.slide__description_line {
    position: relative;
}

.slide__description_margin {
    margin-bottom: 10px;
}

.slide__description_without-margin {
    margin-bottom: 0;
}

.slide__description_line:before {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 125%;
    background-color: #de2925;
    left: -20px;
}

.slide__description_red-color {
    color: #de2925;
}

.slide__description_white-color {
    color: #fff;
}

.slide-pictures {
    display: flex;
    justify-content: space-between;
}

.slide-picture {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    align-items: center;
    position: relative;
}

.slide-picture_size {
    display: flex;
    justify-content: space-around;
    width: 270px;
    align-items: center;
    position: relative;
}

.slide-reasons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.slide-reason {
    width: 170px;
    margin: 0 70px 70px;
}

.slide-reason_margin {
    margin: 0 70px 150px;
}

.slide-reason-picture {
    position: relative;
    height: 170px;
}

.slide-picture__number {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-size: 150px;
    color: #636363;
    text-transform: uppercase;
    opacity: 0.1;
    margin: 0;
}

.slide-picture__number_position {
    display: flex;
    justify-content: space-around;
    width: 270px;
    align-items: center;
    position: relative;
}

.slide-picture__svg {
    position: absolute;
    bottom: -10px;
    left: 45px;
}

.slide-reason__text {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #1c1c1c;
    margin-top: 40px;
    text-align: center;
}

.slide-reason__text_margin {
    margin-top: 5px;
}

.slide-article {
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #1c1c1c;
}

.slide-article_margin {
    margin-top: 50px;
}

.slide-article_size {
    font-size: 14px;
}

.slide-list__li {
    list-style: none;
    background: url('../img/li.png') no-repeat 0 4px;
    padding-left: 40px;
    margin-bottom: 10px;
}

.slide-cards {
    display: flex;
    justify-content: space-between;
}

.slide-card {
    padding: 0 30px;
    max-width: 120px;
    border-radius: 7px;
    box-shadow: 14px 8px 22px -2px rgba(173,173,173,1);
    display: flex;
    flex-direction: column;
    height: 290px;
    background: #fff;
}

.slide-card_size {
    margin: 0 10px;
    width: 275px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slide-card__img {
    object-fit: contain;
    margin: 50px 0 30px;
}

.slide-card__text {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #1c1c1c;
    text-align: center;
    margin: 0;
}

.slide1-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    z-index: 3;
}

.slide1 {
}

.slide1-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.header {
    z-index: 10;
    max-width: 1170px;
    width: 100%;
}

.sticky-header {
    position: fixed;
    top: 0;
}

.header-wrapper {
    margin-top: 20px;
    padding: 25px 70px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 12px 53px 0 rgba(217,217,217,1);
}

.header-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 175px;
}

.header-description__logo {

}

.header-description__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #1c1c1c;
    max-width: 260px;
    margin: 0 0 0 35px;
}

.header-call {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-call__number {
    margin-right: 35px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #1c1c1c;
}

.header-call__button {
    width: 235px;
    height: 50px;
}

.slide1-text {
    display: flex;
    justify-content: space-between;
    margin-top: 180px;
}

.slide1-description {
    max-width: 501px;
    margin-left: 70px ;
}

.slide1-description__small {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #1c1c1c;
    margin: 0;
}

.slide1-description__title {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    color: #de2925;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 57px;
    margin: 24px 0 40px 0;
}

.slide1__button {
    margin: 35px 0 60px;
    width: 305px;
    height: 60px;
}

.slide1-description-sale {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.slide1-description-sale__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 0 0 15px;
}

.slide1-hand {
    position: absolute;
    right: 0;
    top: 160px;
}

.slide2 {

}

.slide2-wrapper {
    z-index: 9;
    width: 100%;
}

.slide3 {

}

.slide3-wrapper {
    display: flex;
    flex-direction: column;
}

.slide3__button {
    width: 235px;
    height: 50px;
    margin-top: 40px;
}

.slide4-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide4__header {
    max-width: 350px;
}

.slide4__description {
    font-size: 18px;
    max-width: 760px;
    text-align: center;
}

.slide5 {
    position: relative;
}

.slide5-wrapper {
    z-index: 9;
    display: flex;
    flex-direction: column;
}

.slide5-background {
    object-fit: contain;
    position: absolute;
    right: 0;
    z-index: 9;
    top: -120px;
}

.slide5-lettering {
    position: absolute;
    z-index: 5;
    right: 20px;
    top: -80px;
}

.slide5-main {
    display: flex;
    justify-content: flex-start;
}

.slide5-image {
    margin-left: 20px;
}

.slide6 {
    margin-top: 200px;
    position: relative;
}

.slide6-wrapper {
    display: flex;
    flex-direction: column;
}

.slide6-lettering {
    z-index: 5;
    position: absolute;
    text-align: left;
    left: 20px;
    top: -120px;
}

.slide6-image {
    z-index: 9;
}

.slide6__button {
    justify-content: space-around;
    width: 350px;
    height: 50px;
}

.slide6-facts {
    display: flex;
    justify-content: space-between;
    max-width: 540px;
    flex-wrap: wrap;
}

.slide6-fact {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 235px;
    margin-bottom: 50px;
}

.slide6-fact__img {
    object-fit: contain;
    position: absolute;
    left: 0;
}

.slide7-wrapper {
    display: flex;
    flex-direction: column;
}

.slide7-lettering {
    position: absolute;
    z-index: 5;
}

.slide7-advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slide7-advantage {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin-bottom: 30px;
}

.slide7-text {
    display: flex;
    flex-direction: column;
}

.slide7-icon {
    object-fit: contain;
    margin-right: 20px;
}

.slide7__button {
    justify-content: space-around;
    width: 350px;
    height: 50px;
    margin: 50px 0;
}

.slide7-button {
    display: flex;
    justify-content: center;
}

.slide8-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.slide8-lettering {
    z-index: 5;
    position: absolute;
    text-align: center;
    top: -80px;
    left: 25%;
}

.slide8-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #de2925;
    margin-top: 30px;
}

.slide8-article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.slide9-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide9__header {
    max-width: 530px;
}

.slide9-card {
    position: absolute;
    z-index: 8;
    top: 50px;
    left: 70px;
}

.slide9-button {
    display: flex;
    justify-content: center;
}

.slide9__button {
    justify-content: space-around;
    width: 400px;
    height: 50px;
    margin: 100px 0 50px;
}

.slide10-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 50px;
}

.slide10-lettering {
    position: absolute;
    z-index: 5;
    right: 20px;
    top: -80px;
}

.slide10-main {
    display: flex;
    justify-content: space-between;
}

.slide11 {
    position: relative;
}

.slide11:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #eee;
    z-index: 0;
    top: 100px;
}

.slide11-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-cards {
    display: flex;
    justify-content: space-between;
}

.slider-card {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    width: 270px;
}

.slider-header {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.slider-pic {
    position: relative;
}

.slider-number {
    position: absolute;
    top: 10px;
    left: 32px;
}

.slider-image {
    object-fit: contain;
    z-index: 9;
}

.slide11-list {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}

.slide11-list__li_padding {
    padding-left: 30px;
    margin: 15px 0;
    list-style: none;
    width: 260px
}

.slider-arrows {
    width: 110px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.arrow-left-gray {

}

.arrow-left-red {
    display: none;
}

.arrow-right-red {

}

.arrow-right-gray {
    display: none;
}

.slide12-wrapper {
    background-image: url("../img/slide12-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 15px 10px rgba(230,230,230,1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.slide12-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 240px;
}

.slide13-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9;
}

.slide13__header {
    max-width: 280px;
}

.slide13-column-text__header {
    width: 100%;
    text-align: center;
}

.slide13-column-text__header-first {
    background-color: #f5f5f5;
}

.slide13-column-text__header-second {
    background-color: #de2925;
}

.slide13-columns {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 70px 0;
}

.slide13-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    position: relative;
}

.slide13-column-first {
    box-shadow: 9px 0 15px 6px rgba(230,230,230,1);
    border: 2px solid #f5f5f5;
}

.slide13-column-second {
    border: 2px solid #de2925;
    box-shadow: 0 0 15px 10px rgba(230,230,230,1);
}

.slide13-list {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-size: 14px;
    max-width: 315px;
    padding: 0 25px;
    margin: 40px 0;
    position: relative;
}

.slide13-list:before {
    content: "";
    position: absolute;
    display: block;
    width: 70%;
    height: 1px;
    background-color: #de2925;
    bottom: -20px;
    left: 15%;
}

.slide13-list__li_padding {
    padding-left: 40px;
    margin-bottom: 15px;
    list-style: none;
}

.slide13-list__li {
    background: url('../img/li13.png') no-repeat 0 4px;
}

.slide13-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.slide13-price__now_view {
    font-size: 36px;
    color: #de2925;
    margin-top: 10px;
    margin-bottom: 70px;
}

.slide13__button-first {
    background: #fff;
    color: #de2925;
    border: 1px solid #de2925;
    justify-content: space-around;
    width: 230px;
    height: 50px;
    position: absolute;
    bottom: -25px;
    z-index: 8;
}

.slide13__button-first:hover {
    cursor: pointer;
    background: rgb(179,18,23);
    background: linear-gradient(0deg, rgba(179,18,23,0.12088585434173671) 0%, rgba(229,45,39,0.03125) 100%);
    transition: 3s;
}

.slide13__button-first:active {
    cursor: pointer;
    background: rgb(179,18,23);
    background: linear-gradient(0deg, rgba(179,18,23,0.47102591036414565) 0%, rgba(229,45,39,0.4766281512605042) 100%);
    transition: 3s;
}

.slide13__button-second {
    justify-content: space-around;
    width: 230px;
    height: 50px;
    position: absolute;
    bottom: -25px;
}
.slide14 {
    position: relative;
}

.slide14-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    z-index: 9;
}

.slide14-background {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
}


@media (max-width: 1440px) {}

@media (max-width: 1250px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}